<form #miFrm="ngForm" novalidate (ngSubmit)="onCreatePlato(miFrm.value)">
  <div class="form-group">
    <label for="nombre">Nombre del plato</label>
    <input type="text" class="form-control" id="nombre" placeholder="Nombre Plato" name="nombre" ngModel #nombre="ngModel" 
    minlength="5" required/>
    <div [hidden]="nombre.valid || (nombre.pristine && !miFrm.submitted)" class="alert alert-danger" role="alert">
      El nombre es obligatorio y debe tener al menos <strong>5 letras</strong>
    </div>

  </div>
  <div class="form-group">
    <label for="idPrecioPlato">
      Precio
    </label>
    <input  class="form-control" type="number" placeholder="precio del plato" name="precio"
      ngModel #precio="ngModel" id="idPrecioPlato" required/>
      <div [hidden]="precio.valid || (precio.pristine && !miFrm.submitted)" class="alert alert-danger" role="alert">
        El precio es obligatorio
      </div>
  </div>   
  <button type="submit" class="btn btn-lg btn-primary" [disabled]="miFrm.invalid">Crear</button>    
</form>
