<h1>App Resto</h1>
<section class="row text-center placeholders">
  <div class="col-6 col-sm-3 placeholder">
    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
    <div class="card-header">Pedidos</div>
    <div class="card-body">
      <h4 class="card-title">Realice su pedidos</h4>
      <div class="col-xs-3">
        <i class="fa fa-shopping-cart fa-5x"></i>
      </div>
      <p class="card-text">Ingeresar aqui para realizar su pedido</p>
    </div>
  </div>
  </div>

  <div class="col-6 col-sm-3 placeholder">
      <div class="card bg-light mb-3" style="max-width: 20rem;">
      <div class="card-header">Menu</div>
      <div class="card-body">
        <h4 class="card-title">Los platos mas sabrosos</h4>
        <div class="col-xs-3">
          <i class="fa fa-cutlery fa-5x"></i>
        </div>
        <p class="card-text">Disfrute de los platos mas sabrosos.</p>
      </div>
    </div>
    </div>

    <div class="col-6 col-sm-3 placeholder">
        <div class="card border-info mb-3" style="max-width: 20rem;">          
        <div class="card-header">Ofertas</div>
        <div class="card-body">
          <h4 class="card-title">Menu en oferta</h4>
          <div class="col-xs-3">
            <i class="fa fa-shopping-basket  fa-5x"></i>
          </div>
          <p class="card-text">Descubra los menues de oferta.</p>
        </div>
      </div>
      </div>

      <div class="col-6 col-sm-3 placeholder">
          <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
          <div class="card-header">Estadisticas</div>
          <div class="card-body">
            <h4 class="card-title">Platos mas pedidos</h4>
            <div class="col-xs-3">
              <i class="fa fa-area-chart fa-5x"></i>
            </div>
            <p class="card-text">Informacion util para gestion.</p>
          </div>
        </div>
        </div>
</section>

<h2>Subtitulo</h2>
<div>
  <h3>Otra seccion</h3>
</div>